container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_populate_keywords:
    command: "source /var/app/venv/*/bin/activate && python manage.py populate_leather_keywords"
    leader_only: true
    ignoreErrors: true
  03_fix_urls:
    command: "source /var/app/venv/*/bin/activate && python manage.py fix_blog_urls"
    leader_only: true
    ignoreErrors: true
